In [1]:
import pandas as pd
import numpy as np

In [2]:
# 기온 데이터 읽어오기
temp_df = pd.read_csv('data/기온.csv', skiprows=7, engine='python')

In [3]:
temp_df.shape

(3712, 5)

In [4]:
temp_df.head()

           날짜  지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  2010-01-01  전국     -4.9    -11.0      0.9
1  2010-01-02  전국     -0.1     -5.5      5.5
2  2010-01-03  전국     -2.9     -6.9      1.4
3  2010-01-04  전국     -1.8     -5.1      2.2
4  2010-01-05  전국     -5.2     -8.7     -1.8

In [5]:
temp_df.drop('지점', axis=1, inplace=True)
temp_df.head()

           날짜  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  2010-01-01     -4.9    -11.0      0.9
1  2010-01-02     -0.1     -5.5      5.5
2  2010-01-03     -2.9     -6.9      1.4
3  2010-01-04     -1.8     -5.1      2.2
4  2010-01-05     -5.2     -8.7     -1.8

In [6]:
temp_df.dtypes

날짜          object
평균기온(℃)    float64
최저기온(℃)    float64
최고기온(℃)    float64
dtype: object

In [7]:
temp_df.isnull().sum()

날짜         0
평균기온(℃)    0
최저기온(℃)    0
최고기온(℃)    0
dtype: int64

In [8]:
temp_df.describe()

           평균기온(℃)      최저기온(℃)      최고기온(℃)
count  3712.000000  3712.000000  3712.000000
mean     12.892861     8.171821    18.320205
std       9.788293    10.211749     9.795578
min     -10.800000   -14.800000    -7.400000
25%       4.200000    -0.700000     9.700000
50%      13.600000     8.400000    19.800000
75%      21.700000    17.400000    27.000000
max      30.300000    25.900000    36.600000

In [9]:
# 강수량 데이터 읽어오기
rainfall_df = pd.read_csv('data/강수량.csv', skiprows=7, engine='python')

In [10]:
rainfall_df.shape

(3712, 3)

In [11]:
rainfall_df.head()

           날짜  지점  강수량(mm)
0  2010-01-01  전국      0.0
1  2010-01-02  전국      0.8
2  2010-01-03  전국      0.0
3  2010-01-04  전국      5.9
4  2010-01-05  전국      0.7

In [12]:
rainfall_df.drop(['날짜', '지점'], axis=1, inplace=True)
rainfall_df.head()

   강수량(mm)
0      0.0
1      0.8
2      0.0
3      5.9
4      0.7

In [13]:
rainfall_df.dtypes

강수량(mm)    float64
dtype: object

In [14]:
rainfall_df.isnull().sum()

강수량(mm)    0
dtype: int64

In [15]:
rainfall_df.describe()

           강수량(mm)
count  3712.000000
mean      3.442457
std       8.745856
min       0.000000
25%       0.000000
50%       0.100000
75%       2.100000
max     106.300000

In [16]:
# 기온, 강수량 데이터 합치기
temp_rainfall_df = pd.concat([temp_df, rainfall_df], axis=1)
temp_rainfall_df.columns = ['date', 'avgTemp', 'minTemp', 'maxTemp', 'rainfall']
temp_rainfall_df.shape

(3712, 5)

In [17]:
temp_rainfall_df.isnull().sum()

date        0
avgTemp     0
minTemp     0
maxTemp     0
rainfall    0
dtype: int64

In [18]:
temp_rainfall_df.head()

         date  avgTemp  minTemp  maxTemp  rainfall
0  2010-01-01     -4.9    -11.0      0.9       0.0
1  2010-01-02     -0.1     -5.5      5.5       0.8
2  2010-01-03     -2.9     -6.9      1.4       0.0
3  2010-01-04     -1.8     -5.1      2.2       5.9
4  2010-01-05     -5.2     -8.7     -1.8       0.7

In [19]:
temp_rainfall_df.tail()

            date  avgTemp  minTemp  maxTemp  rainfall
3707  2020-02-25      7.5      5.7     10.0      28.1
3708  2020-02-26      7.0      3.1     11.9       1.5
3709  2020-02-27      5.3      1.2     10.4       0.1
3710  2020-02-28      4.5      1.7      6.8       2.7
3711  2020-02-29      6.7      2.7     12.1       0.0

In [20]:
temp_rainfall_df.dtypes

date         object
avgTemp     float64
minTemp     float64
maxTemp     float64
rainfall    float64
dtype: object

In [21]:
# 평균 배추가격 데이터 읽어오기
# 여러 파일로 나눠진 배추가격 데이터를 반복문으로 읽어와서 하나의 df로 합치기
fileName_0 = [str(tmp) for tmp in range(2010, 2021)]    # 2010 ~ 2020
fileName_1 = [str(tmp) for tmp in range(1, 5)]    # 1 ~ 4

concated_df = pd.DataFrame(data={}, columns=['date', 'price'])

for tmp0 in fileName_0:
    for tmp1 in fileName_1:
        
        # 파일 읽기
        ori_df = pd.read_excel('data/' + tmp0 + '-' + tmp1 + '.xlsx')
        
        # 불필요한 열 제거
        ori_df.drop(ori_df.columns[0:3], axis=1, inplace=True)
        
        # 불필요한 행 제거
        ori_df.drop(ori_df.index[1:], inplace=True)
        
        # 행과 열을 바꾸고 price 컬럼명 지정
        ori_df = ori_df.T
        ori_df.columns = ['price']
        
        # index를 가져와서 date타입을 str로 형식에 맞게 바꾸고 리스트에 넣음
        index_list = ori_df.index
        index_list = [str(index).split(' ')[0].replace('2020', tmp0) for index in index_list]
        
        # 만든 리스트를 date컬럼으로 지정한 뒤 컬럼명 순서 재배치
        ori_df['date'] = index_list
        ori_df = ori_df[['date', 'price']]
        
        # 기존 데이터와 새로 읽은 파일의 데이터를 합침
        concated_df = pd.concat([concated_df, ori_df])
        
        # log
        print('읽은파일: ' + tmp0 + '-' + tmp1 + '.xlsx')
        print(ori_df.head())
        print(ori_df.isnull().sum())
        print('-' * 50)
        
        if tmp0 == '2020':
            break
        
concated_df.reset_index(drop=True, inplace=True)
concated_df.shape

읽은파일: 2010-1.xlsx
                           date  price
2020-01-04 00:00:00  2010-01-04  2,123
2020-01-05 00:00:00  2010-01-05  2,209
2020-01-06 00:00:00  2010-01-06  2,209
2020-01-07 00:00:00  2010-01-07  2,266
2020-01-08 00:00:00  2010-01-08  2,266
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2010-2.xlsx
                           date  price
2020-04-01 00:00:00  2010-04-01  5,658
2020-04-02 00:00:00  2010-04-02  5,658
2020-04-05 00:00:00  2010-04-05  5,720
2020-04-06 00:00:00  2010-04-06  5,901
2020-04-07 00:00:00  2010-04-07  5,964
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2010-3.xlsx
                           date  price
2020-07-01 00:00:00  2010-07-01  2,567
2020-07-02 00:00:00  2010-07-02  2,544
2020-07-05 00:00:00  2010-07-05  2,574
2020-07-06 00:00:00  2010-07-06  2,664
2020-07-07 00:00:00  2010-07-07  2,738
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2010-4.xlsx
                           date   price
2020-10-01 00:00:00  2010-10-01  12,011
2020-10-04 00:00:00  2010-10-04  10,425
2020-10-05 00:00:00  2010-10-05  10,425
2020-10-06 00:00:00  2010-10-06  10,025
2020-10-07 00:00:00  2010-10-07   9,626
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2011-1.xlsx
                           date  price
2020-01-03 00:00:00  2011-01-03  4,252
2020-01-04 00:00:00  2011-01-04  4,168
2020-01-05 00:00:00  2011-01-05  4,376
2020-01-06 00:00:00  2011-01-06  4,609
2020-01-07 00:00:00  2011-01-07  4,609
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2011-2.xlsx
                           date  price
2020-04-01 00:00:00  2011-04-01  4,341
2020-04-04 00:00:00  2011-04-04  4,265
2020-04-05 00:00:00  2011-04-05  4,073
2020-04-06 00:00:00  2011-04-06  4,057
2020-04-07 00:00:00  2011-04-07  3,783
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2011-3.xlsx
                           date  price
2020-07-01 00:00:00  2011-07-01  1,385
2020-07-04 00:00:00  2011-07-04  1,465
2020-07-05 00:00:00  2011-07-05  1,492
2020-07-06 00:00:00  2011-07-06  1,614
2020-07-07 00:00:00  2011-07-07  1,653
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2011-4.xlsx
                           date  price
2020-10-04 00:00:00  2011-10-04  2,463
2020-10-05 00:00:00  2011-10-05  2,466
2020-10-06 00:00:00  2011-10-06  2,183
2020-10-07 00:00:00  2011-10-07  2,292
2020-10-10 00:00:00  2011-10-10  2,289
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2012-1.xlsx
                           date  price
2020-01-02 00:00:00  2012-01-02  1,319
2020-01-03 00:00:00  2012-01-03  1,319
2020-01-04 00:00:00  2012-01-04  1,319
2020-01-05 00:00:00  2012-01-05  1,338
2020-01-06 00:00:00  2012-01-06  1,338
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2012-2.xlsx
                           date  price
2020-04-02 00:00:00  2012-04-02  3,352
2020-04-03 00:00:00  2012-04-03  3,325
2020-04-04 00:00:00  2012-04-04  3,318
2020-04-05 00:00:00  2012-04-05  3,300
2020-04-06 00:00:00  2012-04-06  3,363
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2012-3.xlsx
                           date  price
2020-07-02 00:00:00  2012-07-02  2,689
2020-07-03 00:00:00  2012-07-03  2,782
2020-07-04 00:00:00  2012-07-04  2,793
2020-07-05 00:00:00  2012-07-05  2,960
2020-07-06 00:00:00  2012-07-06  2,978
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2012-4.xlsx
                           date  price
2020-10-02 00:00:00  2012-10-02  3,938
2020-10-04 00:00:00  2012-10-04  3,997
2020-10-05 00:00:00  2012-10-05  3,998
2020-10-08 00:00:00  2012-10-08  3,983
2020-10-09 00:00:00  2012-10-09  3,909
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2013-1.xlsx
                           date  price
2020-01-02 00:00:00  2013-01-02  3,853
2020-01-03 00:00:00  2013-01-03  3,958
2020-01-04 00:00:00  2013-01-04  4,002
2020-01-07 00:00:00  2013-01-07  4,007
2020-01-08 00:00:00  2013-01-08  3,979
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2013-2.xlsx
                           date  price
2020-04-01 00:00:00  2013-04-01  4,161
2020-04-02 00:00:00  2013-04-02  4,161
2020-04-03 00:00:00  2013-04-03  4,170
2020-04-04 00:00:00  2013-04-04  4,141
2020-04-05 00:00:00  2013-04-05  4,153
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2013-3.xlsx
                           date  price
2020-07-01 00:00:00  2013-07-01  2,690
2020-07-02 00:00:00  2013-07-02  2,683
2020-07-03 00:00:00  2013-07-03  2,657
2020-07-04 00:00:00  2013-07-04  2,659
2020-07-05 00:00:00  2013-07-05  2,636
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2013-4.xlsx
                           date  price
2020-10-01 00:00:00  2013-10-01  3,903
2020-10-02 00:00:00  2013-10-02  3,829
2020-10-04 00:00:00  2013-10-04  3,708
2020-10-07 00:00:00  2013-10-07  3,542
2020-10-08 00:00:00  2013-10-08  3,497
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2014-1.xlsx
                           date  price
2020-01-02 00:00:00  2014-01-02  2,515
2020-01-03 00:00:00  2014-01-03  2,515
2020-01-06 00:00:00  2014-01-06  2,530
2020-01-07 00:00:00  2014-01-07  2,490
2020-01-08 00:00:00  2014-01-08  2,429
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2014-2.xlsx
                           date  price
2020-04-01 00:00:00  2014-04-01  1,943
2020-04-02 00:00:00  2014-04-02  1,968
2020-04-03 00:00:00  2014-04-03  1,942
2020-04-04 00:00:00  2014-04-04  1,942
2020-04-07 00:00:00  2014-04-07  1,945
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2014-3.xlsx
                           date  price
2020-07-01 00:00:00  2014-07-01  2,249
2020-07-02 00:00:00  2014-07-02  2,288
2020-07-03 00:00:00  2014-07-03  2,314
2020-07-04 00:00:00  2014-07-04  2,363
2020-07-07 00:00:00  2014-07-07  2,388
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2014-4.xlsx
                           date  price
2020-10-01 00:00:00  2014-10-01  3,095
2020-10-02 00:00:00  2014-10-02  3,017
2020-10-06 00:00:00  2014-10-06  2,938
2020-10-07 00:00:00  2014-10-07  2,900
2020-10-08 00:00:00  2014-10-08  2,890
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2015-1.xlsx
                           date  price
2020-01-02 00:00:00  2015-01-02  1,957
2020-01-05 00:00:00  2015-01-05  1,957
2020-01-06 00:00:00  2015-01-06  1,980
2020-01-07 00:00:00  2015-01-07  1,957
2020-01-08 00:00:00  2015-01-08  1,959
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2015-2.xlsx
                           date  price
2020-04-01 00:00:00  2015-04-01  2,486
2020-04-02 00:00:00  2015-04-02  2,509
2020-04-03 00:00:00  2015-04-03  2,529
2020-04-06 00:00:00  2015-04-06  2,546
2020-04-07 00:00:00  2015-04-07  2,559
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2015-3.xlsx
                           date  price
2020-07-01 00:00:00  2015-07-01  3,015
2020-07-02 00:00:00  2015-07-02  2,989
2020-07-03 00:00:00  2015-07-03  2,983
2020-07-06 00:00:00  2015-07-06  2,987
2020-07-07 00:00:00  2015-07-07  2,998
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2015-4.xlsx
                           date  price
2020-10-01 00:00:00  2015-10-01  3,095
2020-10-02 00:00:00  2015-10-02  3,017
2020-10-06 00:00:00  2015-10-06  2,938
2020-10-07 00:00:00  2015-10-07  2,900
2020-10-08 00:00:00  2015-10-08  2,890
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2016-1.xlsx
                           date  price
2020-01-04 00:00:00  2016-01-04  2,215
2020-01-05 00:00:00  2016-01-05  2,266
2020-01-06 00:00:00  2016-01-06  2,269
2020-01-07 00:00:00  2016-01-07  2,271
2020-01-08 00:00:00  2016-01-08  2,242
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2016-2.xlsx
                           date  price
2020-04-01 00:00:00  2016-04-01  4,117
2020-04-04 00:00:00  2016-04-04  4,231
2020-04-05 00:00:00  2016-04-05  4,228
2020-04-06 00:00:00  2016-04-06  4,191
2020-04-07 00:00:00  2016-04-07  4,303
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2016-3.xlsx
                           date  price
2020-07-01 00:00:00  2016-07-01  3,015
2020-07-02 00:00:00  2016-07-02  2,989
2020-07-03 00:00:00  2016-07-03  2,983
2020-07-06 00:00:00  2016-07-06  2,987
2020-07-07 00:00:00  2016-07-07  2,998
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2016-4.xlsx
                           date  price
2020-10-04 00:00:00  2016-10-04  7,304
2020-10-05 00:00:00  2016-10-05  6,912
2020-10-06 00:00:00  2016-10-06  6,759
2020-10-07 00:00:00  2016-10-07  6,657
2020-10-10 00:00:00  2016-10-10  6,470
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2017-1.xlsx
                           date  price
2020-01-02 00:00:00  2017-01-02  4,382
2020-01-03 00:00:00  2017-01-03  4,355
2020-01-04 00:00:00  2017-01-04  4,380
2020-01-05 00:00:00  2017-01-05  4,379
2020-01-06 00:00:00  2017-01-06  4,354
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2017-2.xlsx
                           date  price
2020-04-03 00:00:00  2017-04-03  3,918
2020-04-04 00:00:00  2017-04-04  3,918
2020-04-05 00:00:00  2017-04-05  3,895
2020-04-06 00:00:00  2017-04-06  3,881
2020-04-07 00:00:00  2017-04-07  3,881
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2017-3.xlsx
                           date  price
2020-07-03 00:00:00  2017-07-03  2,356
2020-07-04 00:00:00  2017-07-04  2,394
2020-07-05 00:00:00  2017-07-05  2,482
2020-07-06 00:00:00  2017-07-06  2,594
2020-07-07 00:00:00  2017-07-07  2,570
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2017-4.xlsx
                           date  price
2020-10-10 00:00:00  2017-10-10  5,754
2020-10-11 00:00:00  2017-10-11  5,403
2020-10-12 00:00:00  2017-10-12  4,986
2020-10-13 00:00:00  2017-10-13  4,638
2020-10-16 00:00:00  2017-10-16  4,286
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2018-1.xlsx
                           date  price
2020-01-02 00:00:00  2018-01-02  2,905
2020-01-03 00:00:00  2018-01-03  2,927
2020-01-04 00:00:00  2018-01-04  2,940
2020-01-05 00:00:00  2018-01-05  2,960
2020-01-08 00:00:00  2018-01-08  3,024
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2018-2.xlsx
                           date  price
2020-04-02 00:00:00  2018-04-02  4,321
2020-04-03 00:00:00  2018-04-03  4,306
2020-04-04 00:00:00  2018-04-04  4,306
2020-04-05 00:00:00  2018-04-05  4,333
2020-04-06 00:00:00  2018-04-06  4,333
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2018-3.xlsx
                           date  price
2020-07-02 00:00:00  2018-07-02  2,986
2020-07-03 00:00:00  2018-07-03  2,990
2020-07-04 00:00:00  2018-07-04  3,004
2020-07-05 00:00:00  2018-07-05  3,060
2020-07-06 00:00:00  2018-07-06  3,015
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2018-4.xlsx
                           date  price
2020-10-01 00:00:00  2018-10-01  5,321
2020-10-02 00:00:00  2018-10-02  4,897
2020-10-04 00:00:00  2018-10-04  4,559
2020-10-05 00:00:00  2018-10-05  4,400
2020-10-08 00:00:00  2018-10-08  4,464
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2019-1.xlsx
                           date  price
2020-01-02 00:00:00  2019-01-02  2,722
2020-01-03 00:00:00  2019-01-03  2,709
2020-01-04 00:00:00  2019-01-04  2,709
2020-01-07 00:00:00  2019-01-07  2,748
2020-01-08 00:00:00  2019-01-08  2,772
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2019-2.xlsx
                           date  price
2020-04-01 00:00:00  2019-04-01  2,201
2020-04-02 00:00:00  2019-04-02  2,201
2020-04-03 00:00:00  2019-04-03  2,201
2020-04-04 00:00:00  2019-04-04  2,231
2020-04-05 00:00:00  2019-04-05  2,246
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2019-3.xlsx
                           date  price
2020-07-01 00:00:00  2019-07-01  3,031
2020-07-02 00:00:00  2019-07-02  3,038
2020-07-03 00:00:00  2019-07-03  3,027
2020-07-04 00:00:00  2019-07-04  3,077
2020-07-05 00:00:00  2019-07-05  3,062
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2019-4.xlsx
                           date  price
2020-10-01 00:00:00  2019-10-01  7,177
2020-10-02 00:00:00  2019-10-02  7,328
2020-10-04 00:00:00  2019-10-04  7,876
2020-10-07 00:00:00  2019-10-07  8,004
2020-10-08 00:00:00  2019-10-08  7,437
date     0
price    0
dtype: int64
--------------------------------------------------
읽은파일: 2020-1.xlsx
                           date  price
2020-01-02 00:00:00  2020-01-02  4,584
2020-01-03 00:00:00  2020-01-03  4,591
2020-01-06 00:00:00  2020-01-06  4,613
2020-01-07 00:00:00  2020-01-07  4,627
2020-01-08 00:00:00  2020-01-08  4,627
date     0
price    0
dtype: int64
--------------------------------------------------

(2507, 2)

In [22]:
concated_df.isnull().sum()

date     0
price    0
dtype: int64

In [23]:
# 기온, 강수량 데이터와 배추가격 데이터 합치기(최종)
merged_df = pd.merge(temp_rainfall_df, concated_df, how='outer')
merged_df.shape

(3712, 6)

In [24]:
merged_df.isnull().sum()

date           0
avgTemp        0
minTemp        0
maxTemp        0
rainfall       0
price       1205
dtype: int64

In [25]:
merged_df.head()

         date  avgTemp  minTemp  maxTemp  rainfall  price
0  2010-01-01     -4.9    -11.0      0.9       0.0    NaN
1  2010-01-02     -0.1     -5.5      5.5       0.8    NaN
2  2010-01-03     -2.9     -6.9      1.4       0.0    NaN
3  2010-01-04     -1.8     -5.1      2.2       5.9  2,123
4  2010-01-05     -5.2     -8.7     -1.8       0.7  2,209

In [26]:
merged_df.tail()

            date  avgTemp  minTemp  maxTemp  rainfall  price
3707  2020-02-25      7.5      5.7     10.0      28.1  4,396
3708  2020-02-26      7.0      3.1     11.9       1.5  4,296
3709  2020-02-27      5.3      1.2     10.4       0.1  4,296
3710  2020-02-28      4.5      1.7      6.8       2.7  4,296
3711  2020-02-29      6.7      2.7     12.1       0.0    NaN

In [27]:
# 결측값(주말 배추가격) 채우기 - 해당 주의 금요일 가격으로 채움
fillna_df = merged_df.fillna(method='ffill')
fillna_df.isnull().sum()

date        0
avgTemp     0
minTemp     0
maxTemp     0
rainfall    0
price       3
dtype: int64

In [28]:
fillna_df.head()

         date  avgTemp  minTemp  maxTemp  rainfall  price
0  2010-01-01     -4.9    -11.0      0.9       0.0    NaN
1  2010-01-02     -0.1     -5.5      5.5       0.8    NaN
2  2010-01-03     -2.9     -6.9      1.4       0.0    NaN
3  2010-01-04     -1.8     -5.1      2.2       5.9  2,123
4  2010-01-05     -5.2     -8.7     -1.8       0.7  2,209

In [29]:
# 앞의 3개의 데이터는 임의(1월 4일 가격)의 값으로 채움
fillna_df.iloc[:3].fillna('2,123', inplace=True)

fillna_df.isnull().sum()
# 결측치 완전히 채움

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:4244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

date        0
avgTemp     0
minTemp     0
maxTemp     0
rainfall    0
price       0
dtype: int64

In [30]:
fillna_df.head()

         date  avgTemp  minTemp  maxTemp  rainfall  price
0  2010-01-01     -4.9    -11.0      0.9       0.0  2,123
1  2010-01-02     -0.1     -5.5      5.5       0.8  2,123
2  2010-01-03     -2.9     -6.9      1.4       0.0  2,123
3  2010-01-04     -1.8     -5.1      2.2       5.9  2,123
4  2010-01-05     -5.2     -8.7     -1.8       0.7  2,209

In [31]:
fillna_df.dtypes
# 데이터 타입을 확인해보니 맞지 않는 부분이 있어서 바꿔줄 필요가 있음
# price -> float

date         object
avgTemp     float64
minTemp     float64
maxTemp     float64
rainfall    float64
price        object
dtype: object

In [32]:
# price를 float타입으로 바꿈
fillna_df['price'] = fillna_df['price'].apply(lambda x: x.replace(',', '')).astype('float')
fillna_df.head()

         date  avgTemp  minTemp  maxTemp  rainfall   price
0  2010-01-01     -4.9    -11.0      0.9       0.0  2123.0
1  2010-01-02     -0.1     -5.5      5.5       0.8  2123.0
2  2010-01-03     -2.9     -6.9      1.4       0.0  2123.0
3  2010-01-04     -1.8     -5.1      2.2       5.9  2123.0
4  2010-01-05     -5.2     -8.7     -1.8       0.7  2209.0

In [34]:
# 데이터 전처리가 끝났으므로 csv 파일로 저장
fillna_df.to_csv("data/dataset.csv", mode='w', index=False)