In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('data/dataset.csv')
df.shape

(3712, 6)

In [3]:
df2 = pd.read_csv('data/price data.csv')
df2.shape

(2922, 6)

In [8]:
df.describe()

           avgTemp      minTemp      maxTemp     rainfall         price
count  3712.000000  3712.000000  3712.000000  3712.000000   3712.000000
mean     12.892861     8.171821    18.320205     3.442457   3331.049030
std       9.788293    10.211749     9.795578     8.745856   1318.774631
min     -10.800000   -14.800000    -7.400000     0.000000   1093.000000
25%       4.200000    -0.700000     9.700000     0.000000   2410.000000
50%      13.600000     8.400000    19.800000     0.100000   3026.000000
75%      21.700000    17.400000    27.000000     2.100000   4002.000000
max      30.300000    25.900000    36.600000   106.300000  12410.000000

In [6]:
df2.describe()

,year,avgTemp,minTemp,maxTemp,rainFall,avgPrice
count,2.922000e+03,2922.000000,2922.000000,2922.000000,2922.000000,2922.000000
mean,2.013567e+07,12.980527,8.288227,18.378645,3.445140,3276.506502
std,2.291784e+04,9.790108,10.232362,9.803192,8.563899,1369.364603
min,2.010010e+07,-10.800000,-14.800000,-7.400000,0.000000,1093.000000
25%,2.012010e+07,4.200000,-0.700000,9.700000,0.000000,2292.000000
50%,2.013567e+07,13.950000,8.700000,19.950000,0.100000,3026.000000
75%,2.015788e+07,21.700000,17.575000,27.100000,2.175000,3974.000000
max,2.017123e+07,29.900000,25.900000,35.600000,95.500000,12410.000000